html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.screen {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.header {
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-inline: 4%;
}

.leftHeader {
    width: 50%;
    height: 80%;
    align-items: center;
    display: flex;
}
.rightHeader {
    width: 50%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 15px;
}

.exitBttn {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 7px;
    min-width: 40px;
    min-height: 37px;
    padding-top: 3px;
    margin-left: 12px;
    cursor: pointer;
}

.logoImg {
  width: 80px;
  height: 95%;
}

.textHeaderleft {
    width: 20%;
    display: flex;
    flex-direction: column;
}
.textHeaderright {
    width: 20%;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.content {
    padding-top: 50px;
    padding-inline:5%;
    padding-bottom: 20px;
}

.topContent {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-evenly;
}

.blueBttn {
  background-color: rgb(62, 117, 255);
  width: 65px;
  height: 21px;
  border: 1px solid rgb(62, 117, 255);
  border-radius: 10px;
  color: white;
}

.accountCard {
    width:35%;
    min-height: 180px;
    border-radius: 10px;
    border: 1px solid #ccc;
    display: flex;
    justify-content:space-between;
    padding: 7px;
    padding-inline: 50px;
}
.accountCardLeft{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.accountCardRight {
  display: flex;
  align-items: center;
}

.bottomContent {
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 700px;
    overflow: hidden;
}
.upperBttm{
    display: flex;
    justify-content:space-between ;
    padding-inline: 50px;
    height: 50px;
    align-items: center;
    margin-bottom: 10px;
}

select {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 7px;
    min-height: 35px;
    padding-inline: 7px;
    cursor: pointer;
}

/*table*/
.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

table {
  border-collapse: collapse;
  width: 98%;
  background-color: white;
}

th, td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 12px;
}

th {
  background-color: #0077b6;
  color: white;
  text-transform: uppercase;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #e3f2fd;
}


.lowerBttm{
    display: flex;
    justify-content: center;
}