.profileContent {
    padding-top: 50px;
    padding-inline:27%;
    padding-bottom: 20px;
}
.backBttn {
    background-color: white;
    height: 35px;
    width: 170px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 15px;
    cursor: pointer;
}
.info {
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px;
}
.pTitle {
    display: flex;
    border-bottom: 1px solid #cccccc81;
}
.userImg {
    width: 100px
}
.pTitleText {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pBody {
    display: flex;
    flex-direction: column;
    padding-block: 20px;
}
.pBody label {
    font-size: 14px;
    margin-bottom: 5px;
}
.pInput{
    height: 40px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    padding-inline: 10px;
}
.pUpdate {
    background-color: rgba(0, 76, 255, 0.551);
    height: 40px;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bold;
    margin-top: 20px;
}